html {
    scroll-behavior: smooth;
    overflow: hidden;
  }

  body {
    text-align: center;
    color: #f8f9fa;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }