html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  color: #f8f9fa;
  background-color: white;
  text-align: center;
  margin: 0px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

hr {
  
}
